/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}
/* 
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
} */

.page-links {
	clear: both;
	margin: 0;
}

.content-article{
	width: 100%;
    max-width: 1200px;
    padding: 0 0px;
    margin: 0 auto;
}
/* .page-title{
	margin-left: 120px;
} */